li {
  list-style: none;
}

body {
  background: url("../img/burger.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font:helvetica;
}

#well2 {
  font: helvetica;
  width: 23%;
}
